@import "antd/dist/reset.css";
/*@tailwind base;*/
/*@tailwind components;*/
@tailwind utilities;

@layer utilities {
  .flex-center-center {
    @apply flex items-center justify-center;
  }
  .flex-center {
    @apply flex items-center;
  }
}

:root {
  --color-primary: 0 187 107;
  --color-secondary: 57 120 236;
}

.dark {
  --color-primary: 0 187 107;
  --color-secondary: 57 120 236;
}

body {
  height: unset;
  background-image: radial-gradient(rgba(127, 127, 127, 0.1) 10%, transparent 10%),
    radial-gradient(rgba(127, 127, 127, 0.1) 10%, transparent 10%);
  background-size: 18px 18px;
  background-position: 0 0, 9px 9px;
  @apply flex min-h-full w-full flex-col font-medium bg-daw-neutral-50 text-daw-neutral-900;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.ant-btn.ant-btn.ant-btn {
  @apply font-medium;
}
.full-modal-confirm-content .ant-modal-confirm-content {
  @apply !max-w-full;
}
