@import "antd/dist/reset.css";
/*@tailwind base;*/
/*@tailwind components;*/
@tailwind utilities;

:root {
  --color-primary: 0 187 107;
  --color-secondary: 57 120 236;
}

.dark {
  --color-primary: 0 187 107;
  --color-secondary: 57 120 236;
}

body {
  font-weight: 500;
  width: 100%;
  @apply flex flex-col bg-daw-neutral-100 text-daw-neutral-900;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.ant-btn.ant-btn.ant-btn {
  font-weight: 500;
}
.full-modal-confirm-content .ant-modal-confirm-content {
  max-width: 100% !important;
}
