@import "antd/dist/reset.css";
/*@tailwind base;*/
/*@tailwind components;*/
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  font-weight: 500;
  width: 100%;
  @apply flex flex-col bg-daw-neutral-100 text-daw-neutral-900;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.ant-btn.ant-btn.ant-btn{
  font-weight: 500;
}
